.header {
    background-color: #171645;
    color: #fff;

    padding-top: 25px;

    .header_title {
        margin-bottom: 30px;
    }

    img {
        width: 70%;
        height: auto;
        margin-left: 50px;
    }
}

